set timeout=3
menuentry "Ubuntu (Beryllium UEFI)" {
    linux /vmlinuz root=/dev/block/sda23 rw rootwait console=tty0
    initrd /initramfs
    # WARNING: Adjust the devicetree path below to match your specific dtb file in the dtbs/ folder!
    devicetree /dtbs/qcom/sdm845-xiaomi-beryllium-tianma.dtb
}
